<!DOCTYPE html>

<html lang="english">
  <head>
    <title>info-form-page - exported project</title>
    <meta property="og:title" content="info-form-page - exported project" />
    <meta
      property="og:title"
      content="mchat-instructions-page - exported project"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Poppins;
        font-size: 1em;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      data-tag="font"
    />

    <link rel="stylesheet" href="./static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="./static/css/info-form-page.css" rel="stylesheet" />

      <div class="info-form-page-container">
        <div id="info-form" class="info-form-page-container01">
          <div class="mchat-page-numbers-container">
            <span class="mchat-page-numbers-text">
              <span>Page 3 of 9</span>
            </span>
          </div>
          <header
            class="mchat-header-h-e-a-d-e-r mchat-header mchat-header-root-class-name8"
          >
            <a
              href="https://thebloombuddy.com"
              target="_blank"
              rel="noreferrer noopener"
              class="mchat-header-link"
            >
              <span>< RETURN HOME</span>
            </a>
            <img
              id="bloombuddy-logo"
              alt="darklogotransparentstraightlineCopy3573"
              src="./static/images/bloombuddy-logo.png"
              loading="eager"
              class="mchat-header-darklogotransparentstraightline-copy logo"
            />
          </header>
          <h1 class="h3">Please, tell us a bit about yourself</h1>
          <div class="info-form-page-container02">
            <div>
              <label class="info-form-page-text01">
                <span>Child&apos;s Name</span>
                <span class="info-form-page-text03">*</span>
              </label>
              <input
                type="text"
                required
                autocomplete="on"
                class="info-form-page-textinput input"
              />
            </div>
            <div class="info-form-page-container04">
              <label class="info-form-page-text04">
                <span>Child&apos;s Age</span>
                <span class="info-form-page-text06">*</span>
              </label>
              <select required class="info-form-page-select">
                <option value="-Select-">-Select-</option>
                <option value="16 Months">16 Months</option>
                <option value="17 Months">17 Months</option>
                <option value="18 Months">18 Months</option>
                <option value="19 Months">19 Months</option>
                <option value="20 Months">20 Months</option>
                <option value="21 Months">21 Months</option>
                <option value="22 Months">22 Months</option>
                <option value="23 Months">23 Months</option>
                <option value="24 Months">24 Months</option>
                <option value="25 Months">25 Months</option>
                <option value="26 Months">26 Months</option>
                <option value="27 Months">27 Months</option>
                <option value="28 Months">28 Months</option>
                <option value="29 Months">29 Months</option>
                <option value="30 Months">30 Months</option>
              </select>
            </div>
            <div class="info-form-page-container05">
              <label class="info-form-page-text07">
                <span>Caregiver&apos;s Name</span>
                <span class="info-form-page-text09">*</span>
              </label>
              <input
                type="text"
                required
                autocomplete="name"
                class="info-form-page-textinput1 input"
              />
            </div>
            <div class="info-form-page-container06">
              <label class="info-form-page-text10">
                <span>Relationship to Child</span>
                <span class="info-form-page-text12">*</span>
              </label>
              <input
                type="text"
                required
                autocomplete="on"
                class="info-form-page-textinput2 input"
              />
            </div>
            <div class="info-form-page-container07">
              <label class="info-form-page-text13">
                <span>Caregiver&apos;s E-mail</span>
                <span class="info-form-page-text15">*</span>
              </label>
              <input
                type="text"
                required
                autocomplete="email"
                class="info-form-page-textinput3 input"
              />
            </div>
            <div class="info-form-page-container08">
              <label class="info-form-page-text16">
                <span>Caregiver&apos;s Phone Number</span>
                <span class="info-form-page-text18">*</span>
              </label>
              <input
                type="tel"
                required
                autocomplete="tel"
                class="info-form-page-textinput4 input"
              />
            </div>
            <div class="info-form-page-container09">
              <label class="info-form-page-text19">
                <span>Today&apos;s Date</span>
                <span class="info-form-page-text21">*</span>
              </label>
              <input
                type="datetime-local"
                required
                class="info-form-page-textinput5 input"
              />
            </div>
          </div>
          <div class="info-form-page-container10">
            <div class="mchat-button-container">
              <a
                href="mchat-instructions-page.html"
                class="mchat-button-navlink"
              >
                <span>Previous</span>
              </a>
            </div>
            <div class="mchat-button-container">
              <a
                href="mchat-instructions-page.html"
                class="mchat-button-navlink"
              >
                <span>Next</span>
              </a>
            </div>
          </div>
          <span class="info-form-page-text22">
            © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
