<div>
  <link href="./mchat-header.css" rel="stylesheet" />
  <header class="mchat-header-h-e-a-d-e-r mchat-header">
    <a
      href="https://thebloombuddy.com"
      target="_blank"
      rel="noreferrer noopener"
      class="mchat-header-link"
    >
      <span>< RETURN HOME</span>
    </a>
    <img
      id="bloombuddy-logo"
      alt="darklogotransparentstraightlineCopy3573"
      src="public/playground_assets/no%20bg%20dark_logo_transparent_straightline_1-200h.png"
      loading="eager"
      class="logo mchat-header-darklogotransparentstraightline-copy"
    />
  </header>
</div>
