<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in / Sign up</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="#" autocomplete="on" class="sign-in-form">
              <div class="logo">
                <img src="./img/bloom buddy logo (landscape).png" alt="bloombuddy-logo" />
                <!-- <h4>easyclass</h4> -->
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="6"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <p class="text">
                  <a href="#">Forgot password?</a>
                </p>                
                <button type="submit" class="sign-btn">Sign In</button>
                
              </div>

              <div class="socials">
                  <p>Or Sign in with social platforms</p>
                  <div class="social-icons">
                    <a href="#"><img src="./img/google-logo.svg" alt="google" id="google-logo"></a>
                    <a href="#"><img src="./img/facebook-logo.svg" alt="facebook" id="facebook-logo"></a>
                    <a href="#"><img src="./img/apple-logo.svg" alt="apple" id="apple-logo"></a>
                  </div>
              </div>

            </form>

            <form action="#" autocomplete="on" class="sign-up-form">
              <div class="logo">
                <img src="./img/bloom buddy logo (landscape).png" alt="bloombuddy-logo" />
                <!-- <h4>Bloom Buddy</h4> -->
              </div>

              <div class="heading">
                <h2>What would you like to do?</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <!-- <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="6"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="6"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div> -->

                <div class="sign-up-buttons">
                  <button type="submit" class="sign-btn">Locate/Consult with a specialist</button>
                  <button type="submit" class="sign-btn">Become a Service Provider</button>
                  <p class="text">
                    By continuing, you agree to our 
                    <br>
                    <a href="#">Terms of Services</a> , 
                    <a href="#">Privacy Policy</a> and 
                    <a href="#">Content Policy</a>
                  </p>
                </div>

                
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/image 1.svg" class="image img-1 show" alt="" />
              <img src="./img/image 2.svg" class="image img-2" alt="" />
              <img src="./img/image 3.svg" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Specialised Care in the comfort of your home.</h2>
                  <h2>Access to licenced specialists around the world</h2>
                  <h2>Complete Neurodevelopment Healthcare Ecosystem</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="./js/index.js"></script>
  </body>
</html>
