.mchat-header-h-e-a-d-e-r {
  position: relative;
}
.mchat-header-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: Playfair Display;
  font-weight: 700;
  text-decoration: none;
}
.mchat-header-link:hover {
  color: var(--dl-color-pinks-100);
  font-size: 1rem;
}
.mchat-header-root-class-name {
  align-self: flex-start;
}
.mchat-header-root-class-name1 {
  align-self: flex-start;
}
.mchat-header-root-class-name2 {
  align-self: flex-start;
}
.mchat-header-root-class-name3 {
  align-self: flex-start;
}
.mchat-header-root-class-name4 {
  align-self: flex-start;
}
.mchat-header-root-class-name5 {
  align-self: flex-start;
}
@media(max-width: 481px) {
  .mchat-header-h-e-a-d-e-r {
    align-items: center;
    justify-content: space-between;
  }
  .mchat-header-link {
    font-size: 0.7rem;
  }
  .mchat-header-darklogotransparentstraightline-copy {
    right: 1px;
    width: 150px;
  }
}
