{% extends 'mchat-survey.html' %}
{% load static %}
<!-- {% load widget_tweaks %}

{% block title %}M-CHAT{% endblock %}
{% block body_block %} -->

  <form action="{{ action }}" method="POST">
      {% csrf_token %}    
                <div id="survey-slide-1" class="mchat-survey-container015 step">
                  <div class="mchat-survey-container016">
                    <div class="mchat-survey-container017">
                      <span class="mchat-survey-text038">
                        1. Does your child enjoy being swung, bounced on your knee,
                        etc.?
                      </span>
                      <div class="mchat-survey-container018">
                        <div class="selector">
                          <input type="radio" id="1y" name="q1" value="yes" />
                          <label for="1y" class="mchat-survey-text039">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="1n" name="q1" value="no" />
                          <label for="1n" class="mchat-survey-text040">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container021">
                      <span class="mchat-survey-text041">
                        2. Does your child take an interest in other children?
                      </span>
                      <div class="mchat-survey-container022">
                        <div class="selector">
                          <input type="radio" id="2y" for="q2" name="q2" value="yes" />
                          <label for="2y" class="mchat-survey-text042">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="2n" for="q2" name="q2" value="no" />
                          <label for="2n" class="mchat-survey-text043">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container025">
                      <span class="mchat-survey-text044">
                        3. Does your child like climbing on things such as up stairs?
                      </span>
                      <div class="mchat-survey-container026">
                        <div class="selector">
                          <input type="radio" id="3y" name="q3" value="yes" />
                          <label for="3y" class="mchat-survey-text045">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="3n" name="q3" value="no" />
                          <label for="3n" class="mchat-survey-text046">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container029">
                      <span class="mchat-survey-text047">
                        4. Does your child enjoy playing peek-a-boo/hide-and-seek?
                      </span>
                      <div class="mchat-survey-container030">
                        <div class="selector">
                          <input type="radio" id="4y" name="q4" value="yes" />
                          <label for="4y" class="mchat-survey-text048">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="4n" name="q4" value="no" />
                          <label for="4n" class="mchat-survey-text049">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container033">
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name23"
                    >
                      <button class="mchat-buttons-button content">
                        <span>Previous</span>
                      </button>
                    </div>
                    <a href="#survey-slide-2" class="mchat-survey-link1">
                      <div
                        class="mchat-buttons-container mchat-buttons-root-class-name24"
                      >
                        <button class="mchat-buttons-button content next-btn">
                          <span>Next</span>
                        </button>
                      </div>
                    </a>
                  </div>
                  <span class="mchat-survey-text050">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div id="survey-slide-2" class="mchat-survey-container034 step">
                  <div class="mchat-survey-container035">
                    <div class="mchat-survey-container036">
                      <span class="mchat-survey-text051">
                        5. Does your child ever pretend, for example, to talk on the
                        phone or take care of a doll or pretend other things?
                      </span>
                      <div class="mchat-survey-container037">
                        <div class="selector">
                          <input type="radio" id="5y" name="q5" value="yes" />
                          <label for="5y" class="mchat-survey-text052">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="5n" name="q5" value="no" />
                          <label for="5n" class="mchat-survey-text053">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container040">
                      <span class="mchat-survey-text054">
                        6. Does your child ever use his/her index finger to point, to
                        ask for something?
                      </span>
                      <div class="mchat-survey-container041">
                        <div class="selector">
                          <input type="radio" id="6y" name="q6" value="yes" />
                          <label for="6y" class="mchat-survey-text055">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="6n" for="q5" name="q6" value="no" />
                          <label for="6n" class="mchat-survey-text056">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container044">
                      <span class="mchat-survey-text057">
                        7. Does your child ever use his/her index finger to point, to
                        indicate interest in something?
                      </span>
                      <div class="mchat-survey-container045">
                        <div class="selector">
                          <input type="radio" id="7y" name="q7" value="yes" />
                          <label for="7y" class="mchat-survey-text058">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="7n" name="q7" value="no" />
                          <label for="7n" class="mchat-survey-text059">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container048">
                      <span class="mchat-survey-text060">
                        8. Can your child play properly with small toys (eg. cars or
                        blocks) without just mouthing, fiddling or dropping them?
                      </span>
                      <div class="mchat-survey-container049">
                        <div class="selector">
                          <input type="radio" id="8y" name="q8" value="yes" />
                          <label for="8y" class="mchat-survey-text061">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="8n" name="q8" value="no" />
                          <label for="8n" class="mchat-survey-text062">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container052">
                    <a href="#survey-slide-1" class="mchat-survey-link2">
                      <div
                        class="mchat-buttons-container mchat-buttons-root-class-name25"
                      >
                        <button type="submit" class="mchat-buttons-button content">
                          <span>Previous</span>
                        </button>
                      </div>
                    </a>
                    <a href="#survey-slide-3" class="mchat-survey-link3">
                      <div
                        class="mchat-buttons-container mchat-buttons-root-class-name26"
                      >
                        <button type="submit" class="mchat-buttons-button content">
                          <span>Next</span>
                        </button>
                      </div>
                    </a>
                  </div>
                  <span class="mchat-survey-text063">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div id="survey-slide-3" class="mchat-survey-container053 step">
                  <div class="mchat-survey-container054">
                    <div class="mchat-survey-container055">
                      <span class="mchat-survey-text064">
                        9. Does your child ever bring objects over to you (parent) to
                        show you something?
                      </span>
                      <div class="mchat-survey-container056">
                        <div class="selector">
                          <input type="radio" id="9y" name="q9" value="yes" />
                          <label for="9y" class="mchat-survey-text065">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="9n" name="q9" value="no" />
                          <label for="9n" class="mchat-survey-text066">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container059">
                      <span class="mchat-survey-text067">
                        10. Does your child look you in the eye for more than a second
                        or two?
                      </span>
                      <div class="mchat-survey-container060">
                        <div class="selector">
                          <input type="radio" id="10y" name="q10" value="yes" />
                          <label for="bloombuddy-logo" class="mchat-survey-text068">
                            Yes
                          </label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="10n" name="q10" value="no" />
                          <label for="no" class="mchat-survey-text069">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container063">
                      <span class="mchat-survey-text070">
                        11. Does your child ever seem oversensitive to noise? (eg.
                        plugging ears)
                      </span>
                      <div class="mchat-survey-container064">
                        <div class="selector">
                          <input
                            type="radio"
                            id="11y"
                            for="q11"
                            name="q11"
                            value="yes"
                          />
                          <label for="11y" class="mchat-survey-text071">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="11n" name="q11" value="no" />
                          <label for="no" class="mchat-survey-text072">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container067">
                      <span class="mchat-survey-text073">
                        12. Does your child smile in response to your face or your
                        smile?
                      </span>
                      <div class="mchat-survey-container068">
                        <div class="selector">
                          <input type="radio" id="12y" name="q12" value="yes" />
                          <label for="12y" class="mchat-survey-text074">Yes</label>
                        </div>
                        <div class="selector">
                          <input
                            type="radio"
                            id="12n"
                            for="q12"
                            name="question-1"
                            value="no"
                          />
                          <label for="12n" class="mchat-survey-text075">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container071">
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name27"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Previous</span>
                      </button>
                    </div>
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name28"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Next</span>
                      </button>
                    </div>
                  </div>
                  <span class="mchat-survey-text076">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div id="survey-slide-4" class="mchat-survey-container072 step">
                  <div class="mchat-survey-container073">
                    <div class="mchat-survey-container074">
                      <span class="mchat-survey-text077">
                        13. Does your child imitate you? (e.g., you make a face, will
                        your child imitate you?
                      </span>
                      <div class="mchat-survey-container075">
                        <div class="selector">
                          <input type="radio" id="13y" name="q13" value="yes" />
                          <label for="13y" class="mchat-survey-text078">Yes</label>
                        </div>
                        <div class="selector">
                          <input
                            type="radio"
                            id="13n"
                            for="q13"
                            name="q13"
                            value="no"
                          />
                          <label for="13n" class="mchat-survey-text079">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container078">
                      <span class="mchat-survey-text080">
                        14. Does your child respond to his/her name when you call?
                      </span>
                      <div class="mchat-survey-container079">
                        <div class="selector">
                          <input type="radio" id="14y" name="q14" value="yes" />
                          <label for="yes" class="mchat-survey-text081">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="14n" name="q14" value="no" />
                          <label for="no" class="mchat-survey-text082">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container082">
                      <span class="mchat-survey-text083">
                        15. If you point at a toy across the room, will your child look
                        at it?
                      </span>
                      <div class="mchat-survey-container083">
                        <div class="selector">
                          <input type="radio" id="15y" name="q15" value="yes" />
                          <label for="15y" class="mchat-survey-text084">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="15n" name="q15" value="no" />
                          <label for="no" class="mchat-survey-text085">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container086">
                      <span class="mchat-survey-text086">
                        16. Does your child walk?
                      </span>
                      <div class="mchat-survey-container087">
                        <div class="selector">
                          <input
                            type="radio"
                            id="16y"
                            for="q16"
                            name="q16"
                            value="yes"
                          />
                          <label for="16y" class="mchat-survey-text087">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="16n" name="q16" value="no" />
                          <label for="16n" class="mchat-survey-text088">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container090">
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name29"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Previous</span>
                      </button>
                    </div>
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name30"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Next</span>
                      </button>
                    </div>
                  </div>
                  <span class="mchat-survey-text089">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div id="survey-slide-5" class="mchat-survey-container091 step">
                  <div class="mchat-survey-container092">
                    <div class="mchat-survey-container093">
                      <span class="mchat-survey-text090">
                        17. Does your child look at things you are looking at?
                      </span>
                      <div class="mchat-survey-container094">
                        <div class="selector">
                          <input type="radio" id="17y" name="q17" value="yes" />
                          <label for="17y" class="mchat-survey-text091">Yes</label>
                        </div>
                        <div class="selector">
                          <input
                            type="radio"
                            id="17n"
                            for="q17"
                            name="q17"
                            value="no"
                          />
                          <label for="17n" class="mchat-survey-text092">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container097">
                      <span class="mchat-survey-text093">
                        18. Does your child make unusual finger movements near his/her
                        face?
                      </span>
                      <div class="mchat-survey-container098">
                        <div class="selector">
                          <input type="radio" id="18y" name="q18" value="yes" />
                          <label for="18y" class="mchat-survey-text094">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="18n" name="q18" value="no" />
                          <label for="no" class="mchat-survey-text095">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container101">
                      <span class="mchat-survey-text096">
                        19. Does your child try to attract your attention to his/her own
                        activity?
                      </span>
                      <div class="mchat-survey-container102">
                        <div class="selector">
                          <input type="radio" id="19y" name="q19" value="yes" />
                          <label for="19y" class="mchat-survey-text097">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="19n" name="q19" value="no" />
                          <label for="19n" class="mchat-survey-text098">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container105">
                      <span class="mchat-survey-text099">
                        20. Have you ever wondered if your child is deaf?
                      </span>
                      <div class="mchat-survey-container106">
                        <div class="selector">
                          <input
                            type="radio"
                            id="20y"
                            for="q16"
                            name="q20"
                            value="yes"
                          />
                          <label for="16y" class="mchat-survey-text100">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="20n" name="q20" value="no" />
                          <label for="16n" class="mchat-survey-text101">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container109">
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name31"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Previous</span>
                      </button>
                    </div>
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name32"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Next</span>
                      </button>
                    </div>
                  </div>
                  <span class="mchat-survey-text102">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div id="survey-slide-6" class="mchat-survey-container110 step">
                  <div class="mchat-survey-container111">
                    <div class="mchat-survey-container112">
                      <span class="mchat-survey-text103">
                        21. Does your child understand what people say?
                      </span>
                      <div class="mchat-survey-container113">
                        <div class="selector">
                          <input type="radio" id="17y" name="q17" value="yes" />
                          <label for="17y" class="mchat-survey-text104">Yes</label>
                        </div>
                        <div class="selector">
                          <input
                            type="radio"
                            id="17n"
                            for="q17"
                            name="q17"
                            value="no"
                          />
                          <label for="17n" class="mchat-survey-text105">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container116">
                      <span class="mchat-survey-text106">
                        22. Does your child sometimes stare at nothing or wander with no
                        purpose?
                      </span>
                      <div class="mchat-survey-container117">
                        <div class="selector">
                          <input type="radio" id="18y" name="q18" value="yes" />
                          <label for="18y" class="mchat-survey-text107">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="18n" name="q18" value="no" />
                          <label for="no" class="mchat-survey-text108">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="mchat-survey-container120">
                      <span class="mchat-survey-text109">
                        23. Does your child look at your face to check your reaction
                        when faced with something unfamiliar?
                      </span>
                      <div class="mchat-survey-container121">
                        <div class="selector">
                          <input type="radio" id="19y" name="q19" value="yes" />
                          <label for="19y" class="mchat-survey-text110">Yes</label>
                        </div>
                        <div class="selector">
                          <input type="radio" id="19n" name="q19" value="no" />
                          <label for="19n" class="mchat-survey-text111">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mchat-survey-container124">
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name33"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Previous</span>
                      </button>
                    </div>
                    <div
                      class="mchat-buttons-container mchat-buttons-root-class-name34"
                    >
                      <button type="submit" class="mchat-buttons-button content">
                        <span>Submit</span>
                      </button>
                    </div>
                  </div>
                  <span class="mchat-survey-text112">
                    © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                  </span>
                </div>
                <div class="mchat-survey-container125 result">
                  <svg viewBox="0 0 1024 1024" class="mchat-survey-icon success-icon">
                    <path d="M864 128l-480 480-224-224-160 160 384 384 640-640z"></path>
                  </svg>
                </div>
    </form>

{% endblock %}